.container{
    align-items:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main{
    width: 1150px;
    height: 530px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "header header header "
    "sidebar main main"
    "sidebar content-1 content-2"
    "footer footer footer"
    ;
    gap: 10px 15px;
    text-align: center;
  


}

.item1{
    background: linear-gradient( 45deg, rgb(2, 100, 146),rgb(1, 116, 223) ,rgb(71, 143, 190) );
    grid-area: header;
    align-content: center;
}
.item2{
        background: linear-gradient( 45deg, rgb(82, 200, 255),rgb(1, 116, 223) ,rgb(71, 143, 190) );
    grid-area: sidebar;
    align-content: center;
}
.item3{
        background: linear-gradient( 45deg, rgb(26, 141, 194),rgb(41, 142, 236) ,rgb(43, 64, 78) );
    grid-area: main;
    align-content: center;
}
.item4{
    background: linear-gradient( 45deg, rgb(2, 100, 146),rgb(1, 116, 223) ,rgb(71, 143, 190) );
    grid-area: content-1;
    align-content: center;
}
.item5{
    background: linear-gradient( 45deg, rgb(2, 100, 146),rgb(1, 116, 223) ,rgb(71, 143, 190) );
    grid-area: content-2;
    align-content: center;
}
.item6{
        background: linear-gradient( 45deg, rgb(4, 68, 97),rgb(19, 95, 167) ,rgb(58, 98, 124) );
    grid-area: footer;
    align-content: center;
}