
h1{
    text-align: center;
}
.main{
    height: 530px;
    display: grid;
   grid-column: 200px 200px 200px 200px 200px 200px;
   grid-row: 50px 100px 100px 100px 100px 100px;
    gap: 10px 15px;
    text-align: center;
  


}
.main > div{
    align-content: center;
}

.item1{
    background: linear-gradient( 45deg, rgb(2, 100, 146),rgb(1, 116, 223) ,rgb(71, 143, 190) );
    grid-column: 1/7;
    align-content: center;
}
.item2{
        background: linear-gradient( 45deg, rgb(82, 200, 255),rgb(1, 116, 223) ,rgb(71, 143, 190) );
        grid-column: 1/3;
        grid-row: 2/4;
}
.item3{
        background: linear-gradient( 45deg, rgb(26, 141, 194),rgb(41, 142, 236) ,rgb(43, 64, 78) );
        grid-column: 3/7;
}
.item4{
    background: linear-gradient( 45deg, rgb(2, 100, 146),rgb(1, 116, 223) ,rgb(71, 143, 190) );
    grid-column: 3/5;
    align-content: center;
}
.item5{
    background: linear-gradient( 45deg, rgb(2, 100, 146),rgb(1, 116, 223) ,rgb(71, 143, 190) );
    grid-column: 5/7;
    align-content: center;
}
.item6{
        background: linear-gradient( 45deg, rgb(4, 68, 97),rgb(19, 95, 167) ,rgb(58, 98, 124) );
        grid-column: 1/7;
    align-content: center;
}